@model Proyecto_PortafolioEPIS.Models.Tbl_Semestre

<div class="col-lg-6 col-md-12 col-sm-12">
    <div class="card">
        <div class="header">
            <h2><strong>Mantenimiento</strong> Semestre</h2>
            <ul class="header-dropdown">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                        <li><a href="javascript:void(0);">Action</a></li>
                        <li><a href="javascript:void(0);">Another action</a></li>
                        <li><a href="javascript:void(0);">Something else</a></li>
                    </ul>
                </li>
                <li class="remove">
                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                </li>
            </ul>
        </div>
        <div class="body">
            <form>
                <div class="row clearfix js-sweetalert">
                    <div class="col-md-12">
                        <label for="email_address">Nombre:</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Semestre">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="email_address">Año:</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Año">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <label for="email_address">Estado:</label>
                        <div class="form-group">
                            <div class="checkbox">
                                <input id="remember_me" type="checkbox">
                                <label for="remember_me">
                                    Activar o desactivar
                                </label>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-raised btn-primary btn-round waves-effect m-l-20" data-type="success">AGREGAR</button>
                </div>
            </form>
        </div>
    </div>
</div>

