<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Semestre</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Portafolio EPIS</a></li>
                <li class="breadcrumb-item">Mantenimiento</li>
                <li class="breadcrumb-item active">Semestre</li>
            </ul>
            <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Mantenimiento</strong> Semestre</h2>
                    <ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right slideUp">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <form>
                        <div class="row clearfix js-sweetalert">
                            <div class="col-md-12">
                                <label for="email_address">Nombre:</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Semestre">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="email_address">Año:</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Año">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="email_address">Estado:</label>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input id="remember_me" type="checkbox">
                                        <label for="remember_me">
                                            Activar o desactivar
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-raised btn-primary btn-round waves-effect m-l-20" data-type="success">AGREGAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Lista</strong> Semestre</h2>
                    <ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right slideUp">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive js-sweetalert">
                        <table class="table m-b-0">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Semestre</th>
                                    <th scope="col">Año</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>2018-II</td>
                                    <td>2018</td>
                                    <td>Activo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>2019-II</td>
                                    <td>2019</td>
                                    <td>Inactivo</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>2019-I</td>
                                    <td>2019</td>
                                    <td>Activo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
