<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Crear Carga Academica</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Home/Index"><i class="zmdi zmdi-home"></i> Portafolio EPIS</a></li>
                <li class="breadcrumb-item">Carga Academica</li>
                <li class="breadcrumb-item active">Crear Carga Academica</li>
            </ul>
            <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
        </div>
    </div>
</div>

<div class="container-fluid">

    <!-- Multi Column -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2><strong>Mantenimiento</strong> Curso</h2>
                    <ul class="header-dropdown">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body js-sweetalert">
                    <form>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <label for="email_address">Código  curso:</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Código">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <label for="email_address">Nombre de Asignatura:</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Asignatura">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <label for="email_address">Tipo Curso:</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Seleccionar Tipo">
                                        <option></option>
                                        <option>Obligatorio</option>
                                        <option>Electivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <label for="email_address">Docente:</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Seleccionar Docente">
                                        <option></option>
                                        <option>No Asignar</option>
                                        <option>Hugo Martin  Alcantara Martinez</option>
                                        <option>Luis Alfredo Fernandez Vizcarra</option>
                                        <option>Alberto Johnatan Flor Rodriguez</option>
                                        <option>Ricardo Manuel Valcarcel Alvarado</option>
                                        <option>Oscar Juan Jimenez Flores</option>
                                        <option>Liliana Mercedes Vega Bernal</option>
                                        <option>Hugo Martin  Alcantara Martinez</option>
                                        <option>Luis Alfredo Fernandez Vizcarra</option>
                                        <option>Alberto Johnatan Flor Rodriguez</option>
                                        <option>Ricardo Manuel Valcarcel Alvarado</option>
                                        <option>Oscar Juan Jimenez Flores</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <label for="email_address">Ciclo:</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Seleccionar Ciclo">
                                        <option></option>
                                        <option>I</option>
                                        <option>II</option>
                                        <option>III</option>
                                        <option>IV</option>
                                        <option>V</option>
                                        <option>VI</option>
                                        <option>VII</option>
                                        <option>VIII</option>
                                        <option>IX</option>
                                        <option>X</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="email_address">Sección:</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Seleccionar Sección">
                                        <option></option>
                                        <option>No Asignar</option>
                                        <option>A</option>
                                        <option>B</option>
                                        <option>C</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="email_address">Semestre:</label>
                                <div class="form-group">
                                    <select class="form-control show-tick ms select2" data-placeholder="Seleccionar Semestre">
                                        <option></option>
                                        <option>No Asignar</option>
                                        <option>2019-I</option>
                                        <option>REC-2019-I</option>
                                        <option>2018-II</option>
                                        <option>2018-I</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <label for="email_address">Horas:</label>
                                <div class="form-group">
                                    <div class="input-group spinner" data-trigger="spinner">
                                        <input type="text" class="form-control text-center" value="1" data-rule="quantity">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <a href="javascript:void(0);" class="spin-up" data-spin="up"><i class="zmdi zmdi-caret-up"></i></a>
                                                <a href="javascript:void(0);" class="spin-down" data-spin="down"><i class="zmdi zmdi-caret-down"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="email_address">Créditos:</label>
                                <div class="form-group">
                                    <div class="input-group spinner" data-trigger="spinner">
                                        <input type="text" class="form-control text-center" value="1" data-rule="quantity">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <a href="javascript:void(0);" class="spin-up" data-spin="up"><i class="zmdi zmdi-caret-up"></i></a>
                                                <a href="javascript:void(0);" class="spin-down" data-spin="down"><i class="zmdi zmdi-caret-down"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="email_address">Estado:</label>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <input id="remember_me" type="checkbox">
                                        <label for="remember_me">
                                            Activar o desactivar
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12">

                            </div>
                            <button type="button" class="btn btn-raised btn-primary btn-round waves-effect m-l-20" data-type="success">AGREGAR</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
